#capture {
    width: 210mm;
    height: fit-content;
    margin: auto
}

.tableHeaders {
    color: var(--frostSkyBlue);
    background-color: var(--secondaryColor);
}

.leftAlign {
    text-align: left;
}

.title {
    text-align: center;
    font-size: 26px;
    color: var(--mainColor)
}

table {
    margin: 0px auto;
    height: fit-content;
}
