.memberForm {
    display: flex;
    justify-content: center;
}

.btn {
    height: 52px;
    width: 150px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--secondaryColor);
    color: var(--frostSkyBlue);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 3px var(--mainColor);
    transition: all 0.4s ease;
}

.btn:hover {
    box-shadow: 0px 2px 8px var(--mainColor);
}

table {
    margin-top: 50px;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

.tableHeaders {
    color: var(--frostSkyBlue);
    background-color: var(--secondaryColor);
}