.search_form {
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn {
    height: 52px;
    width: fit-content;
    margin-left: 10px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--secondaryColor);
    color: var(--frostSkyBlue);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 3px var(--mainColor);
    transition: all 0.4s ease;
}

.btn:hover {
    box-shadow: 0px 2px 8px var(--mainColor);
}

.results {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.inputField {
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 5px 5px var(--snowStormShadow);
    margin-bottom: 10px auto;
}

.radio_block {
    margin-top: 20px;
    float: none;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: left;
}

.block_component {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.radio_block input, label {
    float: left;
}
