.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    background-color: var(--mainColor);
    height: 75px;
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 10px 0px 0px 20px;
}

.render_bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 95px auto;
}

.nav {
    margin: auto;
    padding-top: 20px;
    height: fit-content;
    width: fit-content;
}

.links {
    text-decoration: none;
    color: var(--snowStorm);
    margin: 0 10px;
    font-family: 'Ubuntu';
    font-size: 18px;
}

.links:focus {
    color: var(--frostSkyBlue);
}
